@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Caveat', cursive;
    background-image: url("https://images.unsplash.com/photo-1515041219749-89347f83291a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=967&q=80");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}
nav{
    background-color: #F2C42C;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
main{
    width: 50%;
    margin: 3rem auto;
    font-family: 'Caveat', cursive;
}
main textarea{
    width: 100%;
    margin: auto;
}
#translated-output{
    font-family: inherit;
    font-size: 1.5rem;
    padding: 5px;
}
#user-input{
    font-family: inherit;
    font-size: 1.5rem;
    padding: 5px;
}
#translate-btn{
    display: block;
    background-color: blue;
    color: yellow;
    padding: 1rem .7rem;
    border: none;
    margin: .5rem 0 .7rem 0;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
}
footer{
    background-color: #F2C42C;
    color: #333;
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem;
    position: absolute;
    bottom: 0;
}
footer p{
    width: 100%;
    margin: auto;
    font-weight: 300;
}
